VITE_API_PROXY_TARGET=
NODE_ENV=
FRONTEND_URL=
TRUST_PROXY=
API_HOST=
API_PORT=
SKILLSWAP_DB_PATH=
SESSION_SECRET=
ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
PLATFORM_NAME=
SUPPORT_EMAIL=
PAYMENT_PROVIDER=
PAYMENT_KEY_ID=
PAYMENT_KEY_SECRET=
PAYMENT_WEBHOOK_SECRET=
PAYMENT_CURRENCY=
SESSION_PAYMENTS_ENABLED=
SESSION_PAYMENT_AMOUNT_MINOR=
AI_PROVIDER=
AI_API_KEY=
AI_MODEL=
AI_BASE_URL=
RECOMMENDATION_CACHE_MINUTES=
RECOMMENDATION_MATCH_WEIGHT=
RECOMMENDATION_DIRECT_BONUS=
RECOMMENDATION_MUTUAL_BONUS=
RECOMMENDATION_OTHER_BONUS=
RECOMMENDATION_RATING_BONUS=
RECOMMENDATION_AVAILABILITY_BONUS=
RECOMMENDATION_GOAL_WEIGHT=
RECOMMENDATION_CATEGORY_WEIGHT=
RECOMMENDATION_HISTORY_WEIGHT=
RECOMMENDATION_TEACHER_WEIGHT=
RECOMMENDATION_SUCCESSFUL_PEER_BONUS=
RECOMMENDATION_PENDING_INTERACTION_PENALTY=
RECOMMENDATION_AI_MAX_BONUS=
